.edit {
  text-align: center;
  margin: auto;
  width: 80%;
  box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin: auto;
  width: 50%;
}

.sub {
  margin-bottom: 5%;
}

.foo {
  position: absolute;
  bottom: 0;
}
