<br>
<div class="dash">
<div *ngIf="name">
  <br>
  <h2 class="page-header">사용자이름:{{ name }}</h2>
  <form>
    <div class="form-group">
      <label>UserInfo</label>
      <textarea class="form-control" rows="3" disabled> {{ userString}} </textarea>
    </div>
    <div class="form-group">
      <label>Token</label>
        <textarea class="form-control" rows="4" disabled> {{ token }} </textarea>
      </div>
    <div class="form-group">
      <label>명함정보</label>
        <textarea class="form-control" rows="4" disabled> {{ card }} </textarea>
      </div>
    </form>
  </div>
  <br>
</div>

