<div class="p-5 mb-4 bg-light rounded-3 text-center">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold"> 91813119, 전준영 </h1>
    <p>" 전준영의 홈페이지 "</p>
    <button class = "btn btn-primary btn-lg" type="button" routerLink="/register">
      Register
    </button>
    &nbsp;
    <button class = "btn btn-success btn-lg" type="button" routerLink="/login">
      Login
    </button>
  </div>
</div>

<div class="container">
  <div class="row p-5 bg-light">
    <div class="col">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">전준영</h5>
          <h6 class="card-subtitle mb-4 text-muted"> 개인 프로필</h6>
          <h5 class="card-subtitle mb-1 text-center"> 나이</h5>
          <p class="card-text text-center">: 23</p>
          <h5 class="card-subtitle mb-1 text-center"> 거주지</h5>
          <p class="card-text text-center">: 서울특별시 마포구</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">ONLY SPECIALIST</h5>
          <h6 class="card-subtitle mb-4 text-muted">팀 프로젝트</h6>
          <h5 class="card-subtitle mb-1 text-center"> 팀명</h5>
          <p class="card-text text-center">: ONLY SPECIALIST</p>
          <h5 class="card-subtitle mb-1 text-center"> 프로젝트명</h5>
          <p class="card-text text-center">: ONLY HEALTH </p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .container {
    display: flex;
    justify-content: center;
  }
</style>