<!-- <div class="p-5 mb-4 bg-light rounded-3 text-center ">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold"> 91813119, 전준영 </h1>
    <p>" 전준영의 홈페이지 "</p>
    <button class = "btn btn-primary btn-lg" type="button" routerLink="/register">
      Register
    </button>
    &nbsp;
    <button class = "btn btn-success btn-lg" type="button" routerLink="/login">
      Login
    </button>
  </div>
</div> -->

<!-- 캐로셀 -->


<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>


  <div class="carousel-inner">
    <div class="carousel-item active">
      <!-- <svg class="main11" width="100%" height="100%" xmlns="main.png" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->

      <div class="container">
        <div class="carousel-caption item">
          <h1>전준영의 홈페이지에 오신걸 환영합니다.</h1>
          <p *ngIf="!checkLoggedIn()">아래의 버튼으로 로그인 또는 로그아웃을 하세요.</p>
          <p *ngIf="checkLoggedIn()">상단의 메뉴 또는 다음 버튼을 눌러 기능을 살펴보세요.</p>
          <div class="btn1">
          <a *ngIf="!checkLoggedIn()" class="btn btn-lg btn-primary" aria-current="page" routerLink="/login">로그인</a>
          <a *ngIf ="!checkLoggedIn()" class="btn btn-lg btn-primary" aria-current="page" routerLink="/register">사용자등록</a>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->

      <div class="container">
        <div class="carousel-caption">
          <h1>QR코드 명함 생성</h1>
          <p>당신의 QR코드 명함을 만들어보고 싶나요? 당장 아래버튼을 눌러보세요.</p>
          <p><a class="btn btn-lg btn-primary" aria-current="page" routerLink="/qrgen">생성하기</a></p>
        </div>
      </div>
    </div>


    <div class="carousel-item">
      <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->

      <div class="container">
        <div class="carousel-caption">
          <h1>환율정보</h1>
          <p>혹시 해외로 여행을 가고싶거나 하지 않으신가요? 아래 버튼을 눌러 환율 정보롤 알아보죠. </p>
          <p><a class="btn btn-lg btn-primary" aria-current="page" routerLink="/qrscan">알아보기</a></p>
        </div>
      </div>
    </div>
  </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<hr>

<div class="main-wrapper">

  <h1>HOMEPAGE FUNCTION</h1>

<div class="icons">
  <div class="icon1">
    <i class="far fa-address-card fa-10x"></i>
    <h2>명함 등록</h2>
    <p>본인의 명함을 등록할 수 있습니다.</p>
  </div>

  <div class="icon1">
    <i class="fas fa-qrcode fa-10x"></i>
    <h2>QR명함</h2>
    QR 명함을 생성할 수 있습니다.
  </div>

  <div class="icon1">
    <i class="fas fa-money-check-alt fa-10x"></i>
    <h2>환율 정보</h2>
    <p>환율 정보를 확인할 수 있습니다.</p>
  </div>
</div>

</div>


<!-- 정보 -->
<!-- <div class="container">
  <div class="row p-5 mb-4 bg-light">
    <div class="col">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">전준영</h5>
          <h6 class="card-subtitle mb-4 text-muted"> 개인 프로필</h6>
          <h5 class="card-subtitle mb-1 text-center"> 나이</h5>
          <p class="card-text text-center">: 23</p>
          <h5 class="card-subtitle mb-1 text-center"> 거주지</h5>
          <p class="card-text text-center">: 서울특별시 마포구</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">ONLY SPECIALIST</h5>
          <h6 class="card-subtitle mb-4 text-muted">팀 프로젝트</h6>
          <h5 class="card-subtitle mb-1 text-center"> 팀명</h5>
          <p class="card-text text-center">: ONLY SPECIALIST</p>
          <h5 class="card-subtitle mb-1 text-center"> 프로젝트명</h5>
          <p class="card-text text-center">: ONLY HEALTH </p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- -- -->
<div class="cards">
  <div class="page-section">
    
<hr>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <h4 class="card-title">전준영의 개인 블로그</h4>
        <div class="img1"></div>
        <div class="card-body">
          <p class="card-text">본인의 개인 정보가 담긴 개인 블로그입니다.</p>
          <a href="https://welljunyoung.netlify.app/" class="btn btn-primary">바로가기</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <h4 class="card-title">온리헬스</h4>
        <div class="img2"></div>
        <div class="card-body">
          <p>팀장 심정보를 주축으로 전준영, 최병준, 김준현, 김찬욱이 구성되어 있습니다.</p>
          <p>주변 헬스장을 찾아 예약할 수 있는 사이트입니다.</p>
          <p class="card-text"> 아래의 바로가기를 눌러 팀프로젝트 온리헬스 사이트에 접속할 수 있습니다.</p>
          <a href="https://onlyhealth.herokuapp.com/" class="btn btn-primary">바로가기</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

  <!-- Site footer -->

  <footer class="site-footer">
    <hr>
    <div class="container">
        <div class="col-md-3">
          <p class="copyright-text">Copyright 2020 All Rights Reserved by 전준영
          </p>
        </div>

        <div class="col-md-2">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/profile.php?id=100023340884033"><i class="fab fa-facebook-square"></i></a></li>
            <li><a class="instar" href="https://www.instagram.com/im_jun0_/"><i class="fab fa-instagram"></i></a></li>
            <li><a class="git" href="https://github.com/patric7732"><i class="fab fa-github"></i></a></li>
          </ul>
        </div>
      </div>
</footer>