.qr {
  text-align: center;
  margin: auto;
  width: 80%;
  box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.2);
}

.qr1 {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.foo {
  position: relative;
  text-align: center;
  left: 0px;
  bottom: 0px;
  height: 60px;
  width: 100%;
}
